[HardwareConfig]
Rows                    = 32
Cols                    = 32
ChainLength             = 4
Parallel                = 1
PWMBits                 = 11
PWMLSBNanoseconds       = 130
Brightness              = 100
ScanMode                = "Progressive"
HardwareMapping         = "regular"
ShowRefreshRate         = false
InverseColors           = false
DisableHardwarePulsing  = false
PixelMapperConfig       = "U-mapper"
LimitRefreshRateHz      = 100

[RuntimeOptions]
GpioSlowdown            = 2
Daemon                  = 0
DropPrivileges          = 0
DoGpioInit              = true