[HardwareConfig]
Rows                    = 32
Cols                    = 64
ChainLength             = 4
Parallel                = 2

PWMBits                 = 11
PWMLSBNanoseconds       = 130
PWMDitherBits           = 0
Brightness              = 100
ScanMode                = 0
HardwareMapping         = "regular"
ShowRefreshRate         = true
InverseColors           = false
DisableHardwarePulsing  = false
PixelMapperConfig       = "V-mapper:Z"
LimitRefreshRateHz      = 70
Multiplexing            = 0

[RuntimeOptions]
GpioSlowdown            = 2
Daemon                  = 0
DropPrivileges          = 0
DoGpioInit              = true

[HTTPserver]
Addr                    = 192.168.0.6
Port                    = 80
Enabled                 = true

[DefaultConf]
Mode                    = 1
MediaDir                = "./media/"
TmpDir                  = "./media/tmp/"
FontDir                 = "./media/ttf/"