{{define "clocks"}}
<!DOCTYPE html>
<html>
    {{template "headers"}}
    <body>
        <h1>Clocks</h1>

        <hr>
        <div class="menuItem">
            <button type="button" class="modeSelect" data-mode="1">Office Round</button><br/>
            <br/>
            <div class="colorSelect">
                <div class="colorItem">Background<br/><input class="colorPicker" id="bgcolor" type="color" value="#000000"/></div>
                <div class="colorItem">Primary<br/><input class="colorPicker" id="fgcolor1" type="color" value="#FF0000"/></div>
                <div class="colorItem">Secondary<br/><input class="colorPicker" id="fgcolor2" type="color" value="#FFFFFF"/></div>
            </div>
            <div>
                <div class="mediaSelector">Serie<br/>
                    <select id="fontSerie" class="serieSelector" data-target="faceSelect" data-default="digital">
                    </select>
                </div>
                <div class="mediaSelector">Font<br/>
                    <select id="faceSelect" class="fileSelector" data-default="TickingTimebomb.ttf">
                    </select>
                </div>
                <div class="mediaSelector">Size<br/>
                    <select id="sizeSelect" class="sizeSelector" data-default="38">
                    </select>
                </div>
            </div>
        </div>
        <hr>

        <script src="/static/tools.js"></script>
        <script>
        $(document).ready(function() {

            $(".modeSelect").on("click", function(e) {
                var mode = {
                    mode: $(e.target).data("mode"),
                    params: {
                        bgcolor: $("#bgcolor").val(),
                        fgcolor1: $("#fgcolor1").val(),
                        fgcolor2: $("#fgcolor2").val(),
                        fontface: $("#fontSerie").val()+"/"+$("#faceSelect").val(),
                        fontsize: parseInt($("#sizeSelect").val(), 10),
                    }
                }
                $.when(ajaxDataLoader("controls", 'json', 'POST', mode))
            })

            $(".serieSelector").on("change", function(e) {
                var dest = $(e.target).data("target")
                var url = "getDir/ttf/"+$(e.target).val()+"?"+$(e.target).data("default")
                $.when(ajaxDataLoader(url, 'html', 'GET')).done(function(data) {
                    $("#"+dest).html(data)
                })
            })

            $(".serieSelector").each(function(index, elemt) {
                var url = "getDir/ttf?default="+$(elemt).data("default")
                $.when(ajaxDataLoader(url, 'html', 'GET')).done(function(data) {
                    $(elemt).html(data)
                })
            })

            $(".sizeSelector").each(function(index, elemt) {
                var url = "getSize/10/100?default="+$(elemt).data("default")
                $.when(ajaxDataLoader(url, 'html', 'GET')).done(function(data) {
                    $(elemt).html(data)
                })
            }) 
        
        });
        </script>
    </body>
</html>
{{end}}