{{define "gifanims"}}
<!DOCTYPE html>
<html>
    {{template "headers"}}
    <body>
        <div class="menuItem"><button type="button" class="modeSelect" data-mode="2">Start</button></div>
         
         <script src="/static/tools.js"></script>
         <script>
            $(document).ready(function() {

                $(".modeSelect").on("click", function(e) {
                    var mode = $(e.target).data("mode")
                    const params = {
                        mode: mode,
                        serie: 'christmas',
                    }
                    $.when(ajaxDataLoader("test", 'html', 'POST', params)).done(function(data) {
            
                    })
                })
            
            });
         </script>
    </body>
</html>
{{end}}