{{define "home"}}
<!DOCTYPE html>
<html>
    {{template "headers"}}
    <body>
        <div class="menuItem"><button type="button" onClick="location.href='/modules/slideshow';">slideShow</button></div>
        <div class="menuItem"><button type="button" onClick="location.href='/modules/gifanims';">GIF anims</button></div>
        <div class="menuItem"><button type="button" onClick="location.href='/modules/clocks';">Clocks</button></div>
        <div class="menuItem"><button type="button" onClick="location.href='/modules/marquee';">Marquee</button></div>
        <div class="menuItem"><button type="button" onClick="location.href='/modules/settings';">Settings</button></div>
        <hr/>
        <div class="menuItem"><button type="button" onClick="location.href='/shutdown';">Shutdown</button></div>

        <script src="/static/tools.js"></script>
        <script>
        $(document).ready(function() {

            $(".modeSelect").on("click", function(e) {
                var mode = $(e.target).data("mode")
                const params = {
                    mode: mode,
                }
                $.when(ajaxDataLoader("test", 'html', 'POST', params)).done(function(data) {
        
                })
            })
        
        });
        </script>
    </body>
</html>
{{end}}