{{define "slideshow"}}
<!DOCTYPE html>
<html>
    {{template "headers"}}
    <body>
        <div class="menuItem"><button type="button" class="modeSelect" data-mode="3">Start</button></div>

        <form id="uploadbanner" enctype="multipart/form-data" method="post" action="/upload">
            <input id="fileupload" name="imgFile" type="file" />
            <input type="submit" value="submit" id="submit" />
         </form>
         
         <script src="/static/tools.js"></script>
         <script>
            $(document).ready(function() {

                $(".modeSelect").on("click", function(e) {
                    var mode = $(e.target).data("mode")
                    const params = {
                        mode: mode,
                    }
                    $.when(ajaxDataLoader("test", 'html', 'POST', params)).done(function(data) {
            
                    })
                })
            
            });
         </script>
    </body>
</html>
{{end}}